
<div style="margin-left: 10px;">
    <p>
        Ik wens jullie samen vele jaren van vreugde en geluk toe.
    </p>
    <h2>Spelregels</h2>
    <ul>
        <li>
            Benjamin moet telkens een antwoord geven
        </li>
        <li>
            Annelies mag hem helpen.
        </li>
        <li>
            Multiple choice, dus je kan gokken!
        </li>
        <li>
            Geen 7/10 => shotje (voor zowel Benjamin als Annelies)
        </li>
    </ul>
    <p>
        Disclamer vragen met dank aan <span style="text-decoration: underline;">Jeroen Cleemput</span>
    </p>
</div>
