<h1>Score  {{score}}/10 </h1>

<div *ngIf="questions" >
    <ul>
        
        <li *ngFor="let question of questions; let i = index">
            
            <label id="example-radio-group-label"><h2>{{i + 1 }}) {{question.q}}</h2></label>
            
            <app-answer [result]="question.valid" [answers]="shuffle(question.answers)" 
                (change)="answerValid($event)">
            </app-answer>
            
              
            <!--<ul>
                <li *ngFor="let answer of shuffle(question.answers); let ii = index">
                    {{answer}}
                    <span *ngIf="(results[i] == answer) " style="color:green"> {{results[i]}} het is juist !</span>
                </li>
            </ul>-->
        </li>
      </ul>
</div>
<!--<app-dialog [valid]="valid" [counter]="counter"></app-dialog>-->