<p>question works!</p>

<div *ngIf="questions" >
    <ul>
        <li *ngFor="let question of questions; let i = index">
            <label id="example-radio-group-label"><h2>{{i + 1 }}) {{question.q}}</h2></label>
            
            <mat-radio-group aria-label="Select an option" >
                <mat-radio-button *ngFor="let answer of shuffle(question.answers); let ii = index"
                [value]="answer" >
                {{answer}}
                </mat-radio-button>
            </mat-radio-group>
              <div>Your favorite season is: {{anw1}}</div>
            <ul>
                <li *ngFor="let answer of shuffle(question.answers); let ii = index">
                    {{answer}}
                    <span *ngIf="(results[i] == answer) " style="color:green"> {{results[i]}} het is juist !</span>
                </li>
            </ul>
        </li>
      </ul>
</div>