<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Benjamin Vercammen</mat-card-title>
      <mat-card-subtitle>aka "Neefke"</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/neefkes.jpeg" alt="Foto van de neefkes">
    <mat-card-content>
      <p>
        Verbonden door bloed, vereeuwigd door vriendschap
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
